.account-container {
    background-image: url(../image/account_background.jpg);
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    width: 100%;
}

.btn:hover {
    background: #563434;
}

.form-container {
    top: 50px;
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.5s;
}

.form-container input {
    width: 200px;
}

.show-pass {
    width: 100%;
    align-items: center;
}

.show-pass input {
    width: 15px;
    vertical-align: middle;
}

.show-pass label {
    font-size: 15px;
    margin-left: 5px;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 250px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #cccccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegisterForm {
    left: 0;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(130px);
    transition: transform 1s;
}

#ErrorMessage {
    font-size: 13px;
    color: red;
    display: none;
}

#LMessage {
    font-size: 13px;
    color: red;
    display: none;
}