.verification-container {
    background-image: linear-gradient(to right, rgb(245, 176, 173), rgb(179, 230, 221));
    display: flex;
    justify-content: center;
}

.form-card {
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
}

.send-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-email span {
    margin-bottom: 5px;
    text-align: center;
}

.send-email-message {
    margin-top: 5px;
}

.email {
    margin-top: 5px;
    height: 30px;
    width: 230px;
    border: 1px solid #ff508c;
    border-radius: 15px;
    padding-left: 10px;
}

.email:focus {
    outline: none;
    border: 2px solid #ff2a75;
}

.send, .confirm-code {
    margin-top: 10px;
    width: 70%;
    height: 30px;
    border: none;
    background-color: #ff0d94;
    color: white;
    border-radius: 15px;
    transition: background 0.2s;
}

.send:hover, .confirm-code:hover {
    background-color: #ff55be;
}

.confirm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}