.forget-password-container {
    background-image: linear-gradient(to right, rgb(248, 150, 170), rgb(156, 236, 255));
    display: flex;
    justify-content: center;
}

.form-card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    width: 400px;
    height: 250px;
    margin-top: 5%;
    margin-bottom: auto;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.3s;
}

.form-card span {
    font-size: 18px;
    margin-bottom: 20px;
}

.password {
    width: 50%;
    height: 30px;
    border: 1px solid #ff34d0;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    margin-bottom: 5px;
    transition: width 0.2s;
}

.password:focus {
    width: 70%;
    border-color: #ff00a7;
    outline: none;
}

.show {
    margin-top: 10px;
}

.form-card input[type="submit"]{
    width: 50%;
    height: 35px;
    border: 0;
    border-radius: 18px;
    margin-top: 10px;
    background-color: #0049ff;
    color: white;
    font-size: 15px;
    transition: width 0.3s, background 0.3s;
}

.form-card input[type="submit"]:hover {
    width: 70%;
    background-color: #0072ff;
}

#message {
    margin-top: 10px;
    font-size: 14px;
}

.pass-info {
    display: none;
    text-align: left;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
}

.pass-info img {
    width: 14px;
    margin-right: 5px;
}

.pass-info span {
    font-size: 11px;
    font-style: italic;
    font-family: "system-ui";
    color: black;
    text-align: left;
    display: contents;
}

meter {
    width: 100%;
    color: red;
    height: 10px;
    border: none;
}