.listening-container {
    background-image: url(../image/listening_background.jpg);
    background-size: cover;
    height: 100%;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.music img {
    width: 300px;
}

.music {
    width: 85%;
    height: 270px;
    padding: 15px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    display: flex;
}

.music img {
    width: 230px;
}

.info {
    margin-left: 30px;
    flex: 1;
}

.controls {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.controls img {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.info h3 {
    padding-bottom: 20px;
}

.lyrics {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    line-height: 35px;
}

pre {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(255, 38, 38);
    border-radius: 2px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.first-bar,
.third-bar {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.637);
}

.music-info {
    display: flex;
}

.time {
    float: right;
    padding-top: 40px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 20px;
}

#edit,
#delete {
    width: 60px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    color: white;
    transition: background 0.3s;
    margin-bottom: 10px;
}

#edit {
    background-color: rgb(243, 28, 0);
}

#delete {
    background-color: rgb(0, 47, 255);
}

#delete:hover {
    background-color: rgb(0, 28, 153);
}

#edit:hover {
    background-color: rgb(139, 16, 0);
}

.music-name {
    display: flex;
}

.rating {
    flex-basis: 15%;
    margin-left: auto;
}

.rating img {
    width: 15px;
}

.giving-rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.giving-rate input[type="submit"] {
    width: 60px;
    height: 25px;
    color: white;
    background-color: rgb(0, 98, 184);
    transition: background 0.3s;
    border-radius: 10px;
    border: 0;
    margin-top: 5px;
}

.giving-rate input[type="submit"]:hover {
    background-color: rgb(0, 64, 119);
}

.music-name span {
    margin-right: 15px;
}

.music-not-found {
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.user-name {
    text-decoration: none;
    color: #b30000;
}