.profile-container {
    background-image: linear-gradient(to right, rgb(248, 150, 147), rgb(156, 236, 222));
    display: flex;
}

.profile-card {
    width: 20%;
    height: 68%;
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

.profile-card h1 {
    padding-bottom: 10px;
}

.profile-card img {
    width: 20px;
}

.profile-card span {
    padding-top: 15px;
    display: block;
}

.last-posts {
    width: 60%;
    height: 68%;
    margin: 5%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

.last-posts h2 {
    margin-bottom: 10px;
}

.row {
    border: 1px solid black;
    display: flex;
    transition: background 0.5s;
}

.row:hover {
    background-color: rgb(162, 179, 197);
    cursor: pointer;
}

.row span {
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: 80%;
}

.music-logo {
    width: 30px;
    flex-basis: 5%;
}

.rating {
    left: auto;
    right: 0;
    margin-top: 10px;
    flex-basis: 15%;
}

.rating img {
    width: 15px;
}

.paging {
    position: absolute;
    top: auto;
    bottom: 10px;
    margin-left: 30px;
}

.paging span {
    border: 1px solid black;
    padding: 1px 5px;
}

.paging span:hover {
    border-color: rgb(122, 122, 122);
    color: rgb(122, 122, 122);
    cursor: pointer;
}